body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.topmenu {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: #e7e7e7; 
	
}
.company_title {
	font-size: 19px;
	font-weight: bold;
	margin-left: 10px;
	margin-right: 10px;
	color: #449750;
}
.menu_item {
	margin-left: 10px;
	padding: 17px;
} 
.active {
	background-color: rgb(203, 203, 203);
}

.img_container {
	margin: 5px;
}

.menu_item_link {
	font-size: 15px;
	font-weight: bold;
	color: #085714;
	text-decoration: none;
}
.menu_item_link:hover {
	color: #449750;
	cursor:pointer;
}

table a {
	color: #007dc1;
	text-decoration: none;	
}
.error-text {
	color: #FF0000;
	font-size: 0.6em;
}


					