table {
	width: 97%;
	margin-top: 20px;
	margin-left: 10px;
}

td {
	text-align: center;
}

th {
	
	color: white;
	font-size: 16px;
}
thead {
	background-color: rgb(68, 151, 80);
}
.addEmpButton {
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	font-size:14px;
	padding:12px;
	text-decoration:none;
	margin-top: 30px;
	margin-left:10px;
}
.blue {
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border:1px solid #124d77;
	color:#ffffff;
}
.blue:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}
.green {
	background:linear-gradient(to bottom, #00a774 5%, #00c161 100%);
	background-color:#00c161;
	border:1px solid #127743;
	color:#ffffff;
}
.green:hover {
	background:linear-gradient(to bottom, #00c161 5%, #00a774 100%);
	background-color:#00c161;
}

.addEmpButton:active {
	position:relative;
	top:1px;
}

.project_container {
	padding: 10px;
}
tr:nth-child(even) {background-color: #f2f2f2;}
/*table.count {
	counter-reset: employeesonproject;
}
table.count tbody tr {
	counter-increment: employeesonproject;
	content: counter(employeesonproject);
}*/

.count {
  counter-reset: serial-number; 
  margin-left: 0;
}
.count td:first-child:before {
  counter-increment: serial-number;  
  content: counter(serial-number);  
  }